<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{{.Title}}</title>
  <link rel="icon" type="image/x-icon" href="/static/img/favicon.ico" />
  <link href="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.css" rel="stylesheet" />
  <link href="/static/style/dist/store.css" rel="stylesheet" />
  <link href="/static/style/dist/utils.css" rel="stylesheet" />
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
</head>

<body>
  {{template "header" .}}
  {{if .Prods}}
  <div class="grid grid-flow-row-dense md:grid-cols-4 md:grid-rows-1 md:mb-2 grid-cols-1 grid-rows-1">
    {{range .Prods}}
    {{template "card" .}}
    {{ end }}
  </div>
  <script>
    function showPrice(id, type, pricePerMonth, price, discount, discountPrice, discountPerMonth) {
      console.log(id, type, pricePerMonth, price, discount, discountPrice, discountPerMonth);
      if (Number(discount) > 0) {
        if (type === 'one_month') {
          $("#price-discount-" + id).html(pricePerMonth);
          $("#price-discounted-" + id).html(discountPerMonth);
        } else {
          $("#price-discount-" + id).html(price);
          $("#price-discounted-" + id).html(discountPrice);
        }
      } else {
        if (type === 'one_month') {
          $("#price-" + id).html(pricePerMonth);
        } else {
          $("#price-" + id).html(price);
        }
      }
    }
    for (let i = 1; i < Number("{{len .Prods}}")+1; i++) {
      $('#length-' + i)[0].onchange();
    }
  </script>
  {{else}}
  <div class="flex justify-center md:py-4 md:px-4">
    <div class="bg-gray-200 border-l-4 border-orange-500 text-orange-700 p-4 justify-center" role="alert">
      <p class="font-bold">Be Warned</p>
      <p>No products.</p>
    </div>
  </div>
  {{ end }}

  {{template "footer" .}}
  <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>
</body>

</html>
