<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{.Title}}</title>
</head>
<body>
{{if .SteamID}}
  <h1>Welcome, {{.SteamID}}</h1>
  <a href="/api/auth/logout">Logout</a>
{{else}}
<a href="/api/auth">
  <img src="/static/img/sits_large_border.png" alt="SITS">
</a>
{{end}}
</body>
</html>
